<div class="container">
	<p><%=@user.id%></p>
	<h1><%=@user.name%></h1>
	<h2><%=@user.email%></h1>
	</div>

<div class="container">
	<table>
		<tr>
			<th>Original URL</th>
			<th>Shortened URL</th>
			<th>Visits</th>
		</tr>
		<% if @user_urls %>
			<% @user_urls.each do |url| %>
			<tr>
				<td><%=url.original_url %></td>
				<td><%=url.short_url %></td>
				<td><%=url.click_count %></td>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>